.App {
	text-align: center;
	width: 100%;
	height: 100%;
	background-image: url(./images/Background.png);
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.App-logo {
	height: 20vmin;
	pointer-events: none;
	margin-bottom: 15px;
}

.Button {
	background-image: linear-gradient(to left, #4527a0 50%, #ffffff 50%);
	min-width: 125px;
	min-height: 25px;
	color: #4527a0;
	font-family: -apple-system, BlinkMacSystemFont, Roboto;
	font-weight: bold;
	border: 2px solid white;
	align-items: center;
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	margin-top: 50px;
	margin-bottom: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
}

.Button:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

.Button-clicked {
	background-image: linear-gradient(to left, #ffffff 50%, #4527a0 50%);
	min-width: 125px;
	min-height: 25px;
	color: #ffffff;
	font-family: -apple-system, BlinkMacSystemFont, Roboto;
	font-weight: bold;
	border: 2px solid white;
	align-items: center;
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	margin-top: 50px;
	margin-bottom: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
}

.Button-clicked:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

.Button:active {
	transform: none;
}

.Button span {
	margin-left: 40px;
	margin-right: 10px;
	color: #ffffff;
}

.Button-clicked span {
	margin-left: 40px;
	margin-right: 10px;
	color: #4527a0;
}

.Outlines {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	background: rgba(0, 0, 0, 0.8);
	transition: 0.8s ease;
}

@media screen and (max-width: 480px) {
	.Outlines {
		width: 100%;
		height: 100%;
	}
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: visible;
	overflow: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu > div {
	display: flex;
	flex: none;
	align-items: center;
	justify-content: center;
	transform: scale(1);
	transition: all 0.4s ease;
}

.menu > div > div {
	text-align: center;
	max-width: 90vw;
	max-height: 100vh;
	opacity: 1;
	transition: opacity 0.4s ease;
}

.menu > div > div > ul > li {
	list-style: none;
	color: #fff;
	font-size: 1.5rem;
	padding: 1rem;
}

.menu > div > div > ul > li > p {
	color: inherit;
	text-decoration: none;
	transition: color 0.4s ease;
}
